@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}
body {
    background-color: rgb(22, 22, 22);
}
img{
    width: 100%;
}
b{
    text-decoration: underline;
}
h1{
    text-align: center;
    margin: 4%;
}
/* Barra de navegacion */

    /* Celular */
    
    header{
        background-color: rgb(36, 36, 36);
    }
    nav{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbarIcons{
        width: 40px;
        cursor: pointer;
        margin: 0 5%;
    }
    .navbarButtons{
        position: absolute;
        top: 100px;
        list-style: none;
        text-align: center;
        width: 100%;
        height: 0;
        transition: 0.3s;
    }
    nav ul li{
        opacity: 0;
        visibility: hidden;
        margin: 0 0;
        transition: 0.3s;
    }
    nav ul li a:hover, .active {
        color: rgb(255, 0, 255)
    }
    .liAfter{
        visibility: visible;
        margin: 5% 0;
        opacity: 1;
    }
    .navbarButtonsAfter{
        background-color: rgb(36, 36, 36);
        height: auto;
        z-index: 1;
    }

/* Body Inicio*/

    /* Celular */

    .index_bodyGridMain{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .index_bodyGridMain p{
        margin: 3% 4% 9%;
        text-align: center;
    }
    .index_bodyGridSecond{
        margin: 0 2%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-column-gap: 5%;
        align-items: center;
    }
    .index_bodyGridSecond p{
        text-align: center;
    }
/* Body secundario */

    /* Celular */

    .secondary_bodyGridMain{
        display: grid;
        margin: 0 3%;
    }
    .secondary_bodyGridMain p{
        font-size: 0.9em;
        text-align: center;
    }
    .secondary_bodyGridSecond{
        display: grid;
        margin: 5% 0;
    }
    .secondary_bodyGridSecond hgroup{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        align-items: center;
    }
    .secondary_bodyGridSecond hgroup p{
        grid-column: 1/3;
        text-align: center;
        margin: 2% 3%;
    }
    .secondary_bodyGridSecond hgroup ul{
        text-align: center;
        list-style: none;
    }

    /* Tablas body secundario y formulario */

    .secondary_bodyTable p{
        text-align: center;
        margin: 2% 3%;
    }
    .secondary_bodyTable table,.formTable{
        margin: 2% auto;
        width: 85%;
    }
    .secondary_bodyTable table td,th, .formTable td,th{
        width: 70%;
        border: 1px solid white;
        text-align: center;
        padding: 1%;
    }
    .formTable td,th{
        width: 20%;
    }
    .buttonTable{
        background-color: rgb(36, 36, 36);
        border: 3px solid rgb(150, 0, 150);
        border-radius: 15px;
        padding: 3% 4%;
        margin:3px;
        cursor: pointer;
    }

/* Captcha */

    /* Celular */
   
    .pcForm{
        display: grid;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
    .pcForm p{
        text-align: center;
    }
    .inputs input, #buttons input{
        width: 100%;
        margin: 2% auto;
        padding: 2%;
        background-color: rgb(36, 36, 36);
        border: 3px solid rgb(150, 0, 150);
        border-radius: 15px;
    }
    #buttons{
        display: grid;
    }
    .inputs input, #buttons input::placeholder{
        color: rgb(185, 185, 185);
    }
    #buttons input{
        max-width: 40%;
        margin-top: 5%;
        cursor: pointer;
    }
    .pcForm h4{
        margin: 7%;
        text-align: center;
    }
    .captcha{
        position: relative;
        width: auto;
    }
    #captchaText{
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 7vw;
        text-align: center;
        letter-spacing: 5vw;
        user-select: none;
    }
    #captchaVerification{
        text-align: center;
        transition: 0.2s;
        visibility: hidden;
        margin: 3%;
    }

/* Barra de navegacion */

    /* PC */

    @media only screen and (min-width: 768px) {
        nav{
            padding: 0 20%;
        }
        .navbarIcons{
            margin: 0%;
        }
        .navbarMenu{
            display: none;
        }
        .navbarButtons{
            position: relative;
            top: 0;
            height: auto;
        }
        nav ul li{
            display: inline-block;
            transition: none;
            opacity: 1;
            visibility: visible;
            margin-left: 7px;
            margin-right: 7px;
        }
        .navbarButtonsAfter{
            background-color: rgb(36, 36, 36);
            height: auto;
        }    
        .liAfter{
            margin: 0 7px;
        }
    
/* Body Inicio*/

    /* PC */

        #index_body{
            padding: 3% 0;
        }
        .index_bodyGridMain{
            grid-template-columns: repeat(2,auto);
            align-items: center;
            margin: 0 4% 7% 4%;
        }
        .index_bodyGridMain p{
            text-align: left;
            margin: 0 0 0 7%;
            padding: 3%;
        }
        .index_bodyGridMain img{
            padding: 3%;
        }

        .index_bodyGridSecond{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr auto;
            margin: 0 4% 7% 4%;
            align-items: flex-start;
        }
        .index_bodyGridSecond p{
            margin-top: 4%;
        }
        .index_item1{
            grid-column: 1;
        }
        .index_item2{
            grid-column: 1;
            grid-row: 2;
        }
        .index_item3{
            grid-column: 2;
        }
        .index_item4{
            grid-column: 2;
            grid-row: 2;
        }
        .index_item5{
            grid-column: 3;
        }
        .index_item6{
            grid-column: 3;
            grid-row: 2;
        }
/* Body Secundario */
    
    /* PC */

        .secondary_bodyGridMain{
            grid-template-columns: 1fr;
        }
        .secondary_bodyGridMain img{
            width: 40%;
            margin: 0 auto;
        }
        .secondary_bodyGridMain p{
            font-size: 1em;
            margin: 2% 5%;
        }
        .secondary_bodyGridSecond{
            grid-template-columns: repeat(2,1fr);
            margin-left: 5%;
            margin-right: 5%;
        }
        .secondary_bodyTable table,.formTable{
            margin: 2% auto;
            width: 80%;
        }    
    }

/* Captcha */

    /* PC */

    @media only screen and (min-width: 1280px) {
        .pcForm{
            width: 30%;
        }
        .inputs input, #buttons input{
            width: 100%;
            margin: 3% auto;
            padding: 3%;
        }
        .pcForm p{
            margin: auto 5%;
        }
        #captchaText{
            left: 47%;
            font-size: 3vw;
            letter-spacing: 2vw;
        }
    }
    

/* Footer */

footer{
    background-color: rgb(36, 36, 36);
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 5%;
}
footer p{
    text-align: center;
}






/* 
.itemCenter{
    text-align: center;
    margin: auto;
}
.flexImages{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 18%;
}
.flexImages div{
    width: 50%;
    padding: 3%;
}
.flexImages .threeItems{
    width: 33%;
    padding: 1%;
}
.flexText{
    padding:2%;
}
.bodyTitlePadding{
    padding: 2%;
}
.cover{
    margin: 0 auto;
    width: 30%;
}
.flexList{
    display: flex;
    justify-content: space-around;
    list-style-position: inside;
}
 */
