@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}
body {
    background-color: rgb(22, 22, 22);
}
img{
    width: 100%;
}
b{
    text-decoration: underline;
}
/* Barra de navegacion */

    /* Celular */
    
    nav{
        height: 100px;
        background-color: rgb(36, 36, 36);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbarIcon{
        width: 40px;
        cursor: pointer;
        margin: 0 5%;
    }
    .navbarButtons{
        position: fixed;
        top: 100px;
        list-style: none;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 0;
        transition: 0.5s;
    }
    nav ul li{
        opacity: 0;
        visibility: hidden;
        margin: 0 0;
        transition: 0.3s;
    }
    nav ul li a:hover, .active {
        color: rgb(255, 0, 255)
    }
    .liAfter{
        visibility: visible;
        margin: 5% 0;
        opacity: 1;
    }
    .navbarButtonsAfter{
        background-color: rgb(36, 36, 36);
        height: 100%;
    }

/* Body */

    /* Celular */

    .bodyGridMainIndex{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .bodyGridMainIndex p{
        margin: 3% 4% 9%;
        text-align: center;
    }
    .bodyGridSecond{
        margin: 0 2%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-column-gap: 5%;
        align-items: center;
    }
    .indexTitle{
        text-align: center;
        margin: 4%;
    }
/* Body secondary */

    /* Celular */

    .bodyGridMainSecondary{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 4%;
        align-items: center;
        margin: 0 3%;
    }
    .bodyGridMainSecondary p{
        font-size: 0.9em;
    }
    .bodyGridSecondSecondary{
        display: grid;
        margin: 5% 0;
    }
    .bodyGridSecondSecondary hgroup{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
    }
    .bodyGridSecondSecondary hgroup p{
        grid-column: 1/3;
        text-align: center;
        margin: 2% 3%;
    }
    .bodyGridSecondSecondary hgroup ul{
        text-align: center;
        list-style: none;
    }
    .bodyTableSecondary p{
        text-align: center;
        margin: 2% 3%;
    }
    .bodyTableSecondary table,.formTable{
        margin: 2% auto;
        width: 85%;
    }
    .bodyTableSecondary table td,th, .formTable td,th{
        width: 70%;
        border: 1px solid white;
        text-align: center;
        padding: 1%;
    }
    .formTable td,th{
        width: 25%;
    }
/* Captcha */

    /* Celular */
   
    .pcForm{
        display: grid;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
    }
    .pcForm p{
        text-align: center;
    }
    .pcForm input,button{
        width: 100%;
        margin: 2% auto;
        padding: 2%;
        background-color: rgb(36, 36, 36);
        border: 3px solid rgb(150, 0, 150);
        border-radius: 15px;
    }
    .pcForm input::placeholder{
        color: rgb(185, 185, 185);
    }
    .pcForm .formButton{
        max-width: 40%;
        margin-top: 5%;
        cursor: pointer;
    }
    .pcForm h4{
        margin: 7%;
        text-align: center;
    }
    .captcha{
        position: relative;
        width: auto;
    }
    #captchaText{
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 300%;
        text-align: center;
        letter-spacing: 1.7rem;
        user-select: none;
    }
    #captchaVerification{
        text-align: center;
        transition: 0.2s;
        visibility: hidden;
        margin: 3%;
    }

/* Barra de navegacion */

    /* PC */

    @media only screen and (min-width: 768px) {
        nav{
            padding: 0 20%;
        }
        .navbarIcon{
            margin: 0%;
        }
        .navbarMenu{
            display: none;
        }
        .navbarButtons{
            position: relative;
            top: 0;
            margin-bottom: 20px;
        }
        nav ul li{
            display: inline-block;
            transition: none;
            opacity: 1;
            visibility: visible;
            margin-left: 7px;
            margin-right: 7px;
        }
        .navbarButtonsAfter{
            background-color: rgb(36, 36, 36);
            height: 0;
        }    
        .liAfter{
            margin: 0 7px;
        }
    
/* Body */

    /* PC */

        #indexBody{
            padding: 3% 0;
        }
        .bodyGridMainIndex{
            grid-template-columns: repeat(2,auto);
            align-items: center;
            margin: 0 4% 7% 4%;
        }
        .bodyGridMainIndex p{
            text-align: left;
            margin: 0 0 0 7%;
            padding: 3%;
        }
        .bodyGridMainIndex img{
            padding: 3%;
        }

        .bodyGridSecond{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr auto;
            margin: 0 4% 7% 4%;
            align-items: flex-start;
        }
        .bodyGridSecond p{
            text-align: center;
            margin-top: 4%;
        }
        .item1{
            grid-column: 1;
        }
        .item2{
            grid-column: 1;
            grid-row: 2;
        }
        .item3{
            grid-column: 2;
        }
        .item4{
            grid-column: 2;
            grid-row: 2;
        }
        .item5{
            grid-column: 3;
        }
        .item6{
            grid-column: 3;
            grid-row: 2;
        }
/* Body Secundario */
    
    /* PC */

        .bodyGridMainSecondary{
            grid-template-columns: 1fr;
            grid-column-gap: 0;
        }
        .bodyGridMainSecondary img{
            width: 40%;
            margin: 0 auto;
        }
        .bodyGridMainSecondary p{
            font-size: 1em;
            text-align: center;
            margin: 2% 5%;
        }
        .bodyGridSecondSecondary{
            grid-template-columns: repeat(2,1fr);
            margin-left: 5%;
            margin-right: 5%;
        }
        .bodyTableSecondary table,.formTable{
            margin: 2% auto;
            width: 70%;
        }    
    }

/* Formulario */

    /* PC */

    @media only screen and (min-width: 1280px) {
        .pcForm{
            width: 30%;
        }
        .pcForm input{
            width: 100%;
            margin: 3% auto;
            padding: 3%;
        }
        .pcForm p{
            margin: auto 5%;
        }
        #captchaText{
            left: 47%;
        }

    }


/* Footer */

footer{
    background-color: rgb(36, 36, 36);
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 5%;
}
footer p{
    text-align: center;
}






/* 
.itemCenter{
    text-align: center;
    margin: auto;
}
.flexImages{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 18%;
}
.flexImages div{
    width: 50%;
    padding: 3%;
}
.flexImages .threeItems{
    width: 33%;
    padding: 1%;
}
.flexText{
    padding:2%;
}
.bodyTitlePadding{
    padding: 2%;
}
.cover{
    margin: 0 auto;
    width: 30%;
}
.flexList{
    display: flex;
    justify-content: space-around;
    list-style-position: inside;
}
 */
